
/* Details section full */

.details {
  width: 94%;
  display: table;
  margin-left: 78px;
}

.details {
  text-align: center;
  background-color: #cadbec;
  float: left;
}

.details > ul {
  display: table;
  margin: 30px 0;
}

.details > ul > li {
  display: inline-table;
  vertical-align: top;
  width: 30%;
  border-radius: 3px;
  box-shadow: 0px 1px 5px -2px #5E7D9B;
  margin: 0 15px 30px;
  background: #FFF;
}

.details > ul > li > div {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
}

.details > ul > li h2 {
  text-align: left;
  padding: 20px 25px;
  font-size: 18px;
  float: left;
}

.details .details-header {
  position: relative;
  background-color: #f6fafe;
  float: left;
  width: 100%;
}

.details .details-header .icon-setLeave,
.details .details-header .icon-setGoal,
.details .details-header .icon-setNote {
  position: relative;
  padding: 8px 10px 6px;
  border: 1px solid #C0D1E3;
  margin: 13px;
  border-radius: 3px;
  float: right;
}

.details .details-header .icon-setLeave .tooltip,
.details .details-header .icon-setGoal .tooltip,
.details .details-header .icon-setNote .tooltip {
  pointer-events: none;
  position: absolute;
  z-index: 9999;
  left: 50%;
  bottom: -40px;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.details .details-header .icon-setLeave .tooltip span,
.details .details-header .icon-setGoal .tooltip span,
.details .details-header .icon-setNote .tooltip span {
  display: block;
  white-space: nowrap;
  position: relative;
  background: rgba(111, 139, 169, 0.8);
  padding: 3px 10px;
  left: -50%;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  border-radius: 3px;
  line-height: 2;
}

.details .details-header .icon-setLeave .tooltip span:after,
.details .details-header .icon-setGoal .tooltip span:after,
.details .details-header .icon-setNote .tooltip span:after {
  top: -16px;
  border: solid rgba(0, 0, 0, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: rgba(111, 139, 169, 0.8);
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}

.details .details-header .icon-setLeave:hover,
.details .details-header .icon-setGoal:hover,
.details .details-header .icon-setNote:hover {
  cursor: pointer;
  background-color: #FFF;
}

.details .details-header .icon-setLeave:hover span,
.details .details-header .icon-setGoal:hover span,
.details .details-header .icon-setNote:hover span {
  opacity: 1;
  transition: all ease 0.3s;
}

.details .leaveFeedback > ul li:first-child,
.details .goalProgress > ul li:first-child {
  border-top: 1px solid #d7e3f0;
}

.details .leaveFeedback > ul li,
.details .goalProgress > ul li {
  display: table;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #d7e3f0;
}

.details .goalProgress li:nth-child(even) {
  background-color: #f6fafe;
}

.details .goalProgress .icon-user1 {
  background-size: 36px;
}

.details .leaveFeedback .score,
.details .goalProgress .icon-user1,
.details .goalProgress .icon-user2,
.details .goalProgress .icon-user3,
.details .goalProgress .icon-user4,
.details .goalProgress .icon-user5 {
  width: 25%;
  box-sizing: border-box;
  border-right: 1px dashed #d5e0ed;
  position: relative;
  background-color: #FFF;
  display: table-cell;
  vertical-align: middle;
}

.details .goalProgress .icon-user1,
.details .goalProgress .icon-user2,
.details .goalProgress .icon-user3,
.details .goalProgress .icon-user4,
.details .goalProgress .icon-user5 {
  border: none;
  display: table-cell;
  vertical-align: middle;
}

.details .leaveFeedback .score .circle {
  position: absolute;
  right: -8px;
  top: 50%;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-top: -8px;
  background-color: #FFF;
}

.details .leaveFeedback .score .circle.purple {
  border: 3px solid #A08BCD;
}

.details .leaveFeedback .score .circle.orange {
  border: 3px solid #ec974b;
}

.details .leaveFeedback .score .circle.yellow {
  border: 3px solid #f7bf47;
}

.details .leaveFeedback .score p {
  font-size: 40px;
}

.details .leaveFeedback .info,
.details .goalProgress .info {
  text-align: left;
  width: 75%;
  padding: 20px;
  line-height: 18px;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}

.details .goalProgress .info {
  padding-left: 0;
}

.details .leaveFeedback .info .title {
  font-weight: bold;
}

.details .goalProgress .name {
  font-weight: bold;
  position: relative;
  margin-top: 1px;
}

.details .goalProgress .name .position {
  font-weight: normal;
  color: #8ba4be;
}

.details .goalProgress .progressBar {
  height: 15px;
  width: 80%;
  float: left;
  margin-top: 3px;
}

.details .goalProgress .progressBar .progress {
  width: 0;
  background-color: #61C6CF;
  color: #61c6cf;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 3px;
  float: left;
  font-weight: bold;
  -webkit-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
  -o-transition: width 1s ease-out;
  transition: width 1s ease-out;
}

.details .goalProgress .progressBar .progress.warning {
  background-color: #de808f !important;
  color: #de808f !important;
}

.details .goalProgress .progressBar .progress:after {
  content: attr(data-progressValue) "%";
  position: absolute;
  right: -50px;
}

.details .action {
  background-color: #31b6fc;
  float: left;
  width: 100%;
}

.details .action p a {
  color: #FFF;
  padding: 20px 0;
  font-weight: bold;
  float: left;
  text-align: center;
  width: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.details .action p a:hover {
  background-color: #05b1ec;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}


/*CHART*/

.chart {
  border-top: 1px solid #d7e3f0;
  border-bottom: 1px solid #d7e3f0;
  float: left;
  width: 100%;
}

.doughnutChart {
  position: relative;
  height: 165px;
  padding: 20px 0;
  background: #FFF;
}

.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 3px;
  background: rgba(111, 139, 169, 0.8);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  pointer-events: none;
}

.doughnutTip:after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(111, 139, 169, 0.8);
  line-height: 0;
}

.doughnutSummary {
  position: relative;
  top: -50%;
  left: 50%;
  color: #6f8ba9;
  font-weight: bold;
  text-align: center;
  cursor: default;
}

.doughnutSummaryTitle {
  position: absolute;
  width: 100%;
  top: 5px;
  font-size: 14px;
  letter-spacing: .06em;
}

.doughnutSummaryNumber {
  position: absolute;
  width: 100%;
  margin-top: 30%;
  margin-left: 2%;
  font-size: 50px;
}

.doughnutSummaryNumber:before {
  content: "+";
  font-size: 25px;
  position: absolute;
  margin-top: 20%;
  margin-left: -15%;
}

.chart path:hover {
  opacity: .65;
}

.chart-legend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  font-size: 13px;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}

.chart-legend li {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding: 0 1.5em;
  position: relative;
  color: #97b3ce;
  font-weight: bold;
  display: inline-block;
}

.chart-legend li span {
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-top: -8px;
  background-color: #FFF;
}

.chart-legend em {
  font-style: normal;
}

.chart-bar {
  width: 100%;
  float: left;
  padding: 11px 0 0px;
  margin-bottom: 30px;
  display: block;
  position: relative;
  border-bottom: 1px solid #d7e3f0;
}

.chart-bar #numbers {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  background-color: #f6fafe;
  top: 0;
}

.chart-bar #numbers li {
  text-align: left;
  margin: 0 2em 0 4em;
  list-style: none;
  height: 25px;
  border-bottom: 1px solid #d7e3f0;
  position: relative;
  top: 0;
}

.chart-bar #numbers li span {
  color: #8ba4be;
  position: absolute;
  bottom: -8px;
  right: 103%;
}

.chart-bar #bars {
  display: inline-block;
  padding: 0;
  position: relative;
  float: left;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.chart-bar #bars li {
  display: inline-block;
  width: 80px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.chart-bar #bars li .bar {
  display: block;
  width: 45px;
  color: #FFF;
  font-weight: bold;
  margin-left: 18px;
  padding-top: 10px;
  background: #7fa1c2;
  border-radius: 3px;
  position: absolute;
  bottom: -3px;
  height: 0;
  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

.chart-bar #bars li .bar:hover {
  background-color: #6f8ba9;
  cursor: pointer;
}

.chart-bar #bars li span {
  color: #8ba4be;
  width: 100%;
  position: absolute;
  bottom: -1.5em;
  left: 0;
  text-align: center;
}