  <div class="toDo">
    <div class="leave">
      <div class="title">
        <h1>Leave Overview</h1>
        <a href="#"><span class="add addLeave">+</span></a>
      </div>
      <form autocomplete="off">
        <ul>
          <li><input type="checkbox" id="leave_3"><label for="leave_3">360 Monthly Team leave</label><span class="alert"><input class='leaveDate' type="text" readonly value="Due in 2 days"></span></li>
          <li><input type="checkbox" id="leave_2"><label for="leave_2">Self leave</label><span><input class='leaveDate' type="text" readonly value="Due in 5 days"></span></li>
          <li><input type="checkbox" id="leave_1"><label for="leave_1">6-Month Performance leave</label><span><input class='leaveDate' type="text" readonly value="Due in 1 week"></span></li>
        </ul>
      </form>
    </div>
    <div class="goals">
      <div class="title">
        <h1>Goals</h1>
        <a href="#"><span class="add addGoal">+</span></a>
      </div>
      <form autocomplete="off">
        <ul>
          <li><input type="checkbox" id="goal_4"><label for="goal_4">5 Team Goals Completed</label><span class="warn-score"><input class='goalAchivements' type="text" readonly value="Awaiting Scoring"></span></li>
          <li><input type="checkbox" id="goal_3"><label for="goal_3">Team Goals Set</label><span class="warn-approval"><input class='goalAchivements' type="text" readonly value="Awaiting Approval"></span></li>
          <li><input type="checkbox" id="goal_2"><label for="goal_2">1 Team Goal Overdue</label></li>
          <li><input type="checkbox" id="goal_1"><label for="goal_1">Achieve Sales Quota</label></li>
        </ul>
      </form>
    </div>
  </div>