<header>
  <div id="searchBox">
    <form autocomplete="off">
      <label for="search">
        <svg class="icon icon-search" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg></label>
      <input type="text" id="search" class="searchInput" placeholder="Search for tasks, goals and reviews">
    </form>
  </div>
  <nav id="topNav">
    <ul>
      <li class="icon-addCalendar"><a href="#"></a></li>
      <li class="icon-addToCircles"><a href="#"></a></li>
      <li class="icon-notifications"><a href="#"><span class="counter">11</span></a></li>
      <li class="icon-user1"><a href="#"></a></li>
    </ul>
  </nav>
</header>