/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*BASE CSS*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100%;
  color: #6381a1;
}

a {
  text-decoration: none;
}

/* START OF HEADER */

header {
  width: 70%;
  margin-left: 78px;
  display: table;
}

#topNav {
  background-color: #4b6c8b;
  height: 70px;
  display: table-cell;
  position: absolute;
  right: 0;
}

#topNav ul {
  height: 100%;
  display: inline-table;
  border: 1px solid #334c64;
  border-right: none;
}

#topNav ul li {
  float: left;
  position: relative;
  width: 78px;
  height: 67px;
  border: 1px solid #5d84a4;
  border-right: 1px solid #334c64;
  border-bottom: none;
  text-align: center;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.icon-search {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  fill: #6889a7;
}

.icon-addCalendar {
  background: url(http://i58.tinypic.com/5wiglj.png) no-repeat center;
}

.icon-addToCircles {
  background: url(http://i57.tinypic.com/2n0ovt4.png) no-repeat center;
}

.icon-notifications {
  background: url(http://i58.tinypic.com/w12pup.png) no-repeat center;
}

.icon-user1 {
  background: #3D5B77 url(http://i57.tinypic.com/w6p74p.png) no-repeat center;
}

.icon-user2 {
  background: #3D5B77 url(http://i60.tinypic.com/2uge3ac.png) no-repeat center;
}

.icon-user3 {
  background: #3D5B77 url(http://i57.tinypic.com/2ahcvbl.png) no-repeat center;
}

.icon-user4 {
  background: #3D5B77 url(http://i61.tinypic.com/20qba6o.png) no-repeat center;
}

.icon-user5 {
  background: #3D5B77 url(http://i59.tinypic.com/spxcgw.png) no-repeat center;
}

.icon-settings {
  background: url(http://i62.tinypic.com/28ai7f5.png) no-repeat center;
}

.icon-home {
  background: url(http://i62.tinypic.com/2zyy979.png) no-repeat center;
}

.icon-calendar {
  background: url(http://i58.tinypic.com/2prs1go.png) no-repeat center;
}

.icon-circles {
  background: url(http://i61.tinypic.com/28vta1i.png) no-repeat center;
}

.icon-doneTask {
  background: url(http://i62.tinypic.com/hu1640.png) no-repeat center;
}

.icon-stats {
  background: url(http://i59.tinypic.com/214nir.png) no-repeat center;
}

.icon-onDemandReview:before {
  content: url(http://i59.tinypic.com/2nqb87o.png) no-repeat center;
  position: absolute;
  margin-left: -30px;
  margin-top: -1px;
}

.icon-manageGoals:before {
  content: url(http://i59.tinypic.com/24g6p2s.png) no-repeat center;
  position: absolute;
  margin-left: -30px;
  margin-top: -1px;
}

.icon-askFeedback:before {
  content: url(http://i58.tinypic.com/n5pmy1.png) no-repeat center;
  position: absolute;
  margin-left: -30px;
  margin-top: -1px;
}

.icon-setReview:before {
  content: url(http://i58.tinypic.com/se96yv.png) no-repeat center;
}

.icon-setGoal:before {
  content: url(http://i59.tinypic.com/xp7rdf.png) no-repeat center;
}

.icon-setNote:before {
  content: url(http://i58.tinypic.com/1znwkld.png) no-repeat center;
}

.icon-up-down {
  background: url(http://i60.tinypic.com/1zx9mki.png) no-repeat center;
  width: 10px;
  height: 22px;
  top: 6px !important;
}

.icon-team {
  background: url(http://i58.tinypic.com/29c1dz.png) no-repeat center left;
  width: 34px;
  height: 22px;
}

#topNav ul li.icon-notifications a {
  color: #FFF;
  text-decoration: none;
}

#topNav ul li.icon-notifications .counter {
  position: absolute;
  right: 0;
  padding-top: 5px;
  width: 24px;
  height: 16px;
  font-family: monospace;
  font-weight: bold;
  background-color: #e07182;
}

#topNav ul li.icon-notifications .counter:after {
  content: "";
  position: absolute;
  border: 8px solid rgba(0, 0, 0, 0);
  border-top-color: #e07182;
  border-left: 0;
  left: 5px;
  top: 21px;
}

#topNav ul li:last-child {
  border-left: 0;
  border-right: none;
}

#searchBox {
  position: relative;
  border-right: 1px solid #334c64;
  width: 100%;
  height: 70px;
  background-color: #3d5b77;
  display: table-cell;
}

#searchBox form {
  padding: 0 20px 0 30px;
}

.searchInput {
  height: 70px;
  width: 95%;
  padding: 0 0 0 30px;
  margin: 0;
  background-color: #3d5b77;
  border: none;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  color: #7E9BB8;
}

.searchInput::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #6d88a4;
}

.searchInput:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6d88a4;
  opacity: 1;
}

.searchInput::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6d88a4;
  opacity: 1;
}

.searchInput:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #6d88a4;
}

.searchInput:active,
.searchInput:focus {
  outline: none;
}